<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <style>
    .del-line{
      text-decoration: line-through;
    }
  </style>
  <script src="public/vue2.min.js"></script>
</head>
<body>

<div id="app">
  <h1>任务列表</h1>
  <input type="text" v-model="newTodo" v-on:keypress.enter="add">
  <component :is="currentView" v-bind:list="list"></component>
  <span>还剩下<b>{{unFLen}}</b>个未完成的任务</span>
  <a href="#all">所有任务</a>
  <a href="#unf">未完成的任务</a>
  <a href="#f">已完成的任务</a>
  <a href="javascript:;" v-on:click="delf">删除所有已完成的任务</a>
</div>

<script>

  var store = new Vue({
    data:{
      list:[]
    },
    created:function(){
      this.list = this.getList();
    },
    watch:{
      'list':{
//        一旦数组修改，马上保存数据到localstorge
        handler:function(val,oldVal){
          this.setList(val);
        },
//        深度监听，可以监听对象里面的值变化
        deep:true
      }
    },
    methods:{
      setList:function(arr) {
        if(arr!="" && arr!=undefined){
          localStorage.list = JSON.stringify(arr);
        }
      },
      getList:function() {
        if(localStorage.list!="" && localStorage.list!=undefined){
          return JSON.parse(localStorage.list);
        }else{
          return [];
        }
      },
//      新增任务
      add: function (newTodo, callback) {
        this.list.push(newTodo);
        console.log(newTodo);
        callback();
      },
//      删除任务
      del: function (id) {
        this.list.find(function(v, i, list) {
          if(v.id == id){
            list.splice(i, 1);
            return true;
          }else{
            return false;
          }
          
        });
      },
      delf: function () {
        this.list = this.list.filter(this.unfFilter);
      },
      unfFilter:function(val) {
        return !val.isTick;
      }
    }
  });

  var todoMixin = {
    methods:{
      //      删除任务
      del: function (id) {
        store.del(id);
      }
    }
  };

  Vue.component('all', {
    template:'<ul><li v-for="todo in newlist" v-bind:class="{\'del-line\':todo.isTick}"><input type="checkbox" v-model="todo.isTick" > <span>{{todo.text}}</span><button v-on:click="del(todo.id)">x</button></li></ul>',
    props:['list'],
    mixins: [todoMixin],
    computed:{
      newlist: function () {
        return this.list;
      }
    }
  });

  Vue.component('unf', {
    template:'<ul><li v-for="todo in newlist" v-bind:class="{\'del-line\':todo.isTick}"><input type="checkbox" v-model="todo.isTick" > <span>{{todo.text}}</span><button v-on:click="del(todo.id)">x</button></li></ul>',
    props:['list'],
    mixins: [todoMixin],
    computed:{
      newlist: function () {
        return this.list.filter(function (val) {
          return !val.isTick;
        });
      }
    }
  });

  Vue.component('f', {
    template:'<ul><li v-for="todo in newlist" v-bind:class="{\'del-line\':todo.isTick}"><input type="checkbox" v-model="todo.isTick" > <span>{{todo.text}}</span><button v-on:click="del(todo.id)">x</button></li></ul>',
    props:['list'],
    mixins: [todoMixin],
    computed:{
      newlist: function () {
        return this.list.filter(function (val) {
          return val.isTick;
        });
      }
    }
  });

  var vm = new Vue({
    el:'#app',
    data:{
      newTodo:'',
      currentView:location.hash.split('#')[1] || 'all'
    },
    computed:{
      list:function(){
        return store.list;
      },
      unFLen:function(){
        return this.list.filter(this.unfFilter).length
      }
    },
    methods:{
//      新增任务
      add: function () {
        store.add({id:this.uuid(),text:this.newTodo,isTick:false}, function(){
          this.newTodo = '';
        }.bind(this));
      },
      delf: function () {
        store.delf();
      },
      unfFilter:function(val) {
        return !val.isTick;
      },
      //  生成唯一的id
      uuid:function() {
        var i, random;
        var uuid = '';

        for (i = 0; i < 32; i++) {
          random = Math.random() * 16 | 0;
          if (i === 8 || i === 12 || i === 16 || i === 20) {
            uuid += '-';
          }
          uuid += (i === 12 ? 4 : (i === 16 ? (random & 3 | 8) : random)).toString(16);
        }

        return uuid;
      }
    }
  });



//  路由监听
  window.onhashchange = function () {
    vm.currentView = location.hash.split('#')[1];
  }


</script>
</body>
</html>
